<div class="task"
    [ngClass]="{reminder: task.reminder}"
    (click)="onToggle(task)"
    
>  
    <h3>{{task.text}}
        <fa-icon 
            [icon]="faTimes"
            [ngStyle]="{'color':'red'}"
            (click)="onDelete(task)"> <!--Al hacer click en el icono 'x' de la tarea correspondiente, llama al evento 'onDelete(task)' -->     
        ></fa-icon></h3>
    <p>{{task.day}}</p>
</div>
<!---La clase se aplica en base a si el reminder es verdadero. En la interface Task, reminder es un booleano-->
<!----La directiva dbClick() le dice a angular que tiene que hacer cuando se hace doble click sobre un elemento html-->